:root {
  --main-family: Nunito;
  --text-color: #272142;
  --hover-color: #7d4df0;
}
body {
  color: var(--text-color);
  font-family: var(--main-family);
}
li {list-style: none;
}
ul {
padding: 0;}

nav li {
  list-style: none;
  margin-top: 48px;
 
}
h1 {
  font-size: 72px;
 
  ;
}
h2 {
  font-size: 24px;
}
p {font-size: 18px;}
hr {
  border: none;
  border-top: 3px dotted black;

  
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  font-family: var(--main-family);
}
.nav-link:hover {color: var(--hover-color);}
.active {
  color: var(--hover-color);
}
.hero-image {
  width: 100%;
  height: 300px;
  margin-bottom: 150px;
  margin-top: 70px;
}
.hero-text {
  position: absolute;

  left: 25%;
  right: 25%;
  top: 40%;
  color: white;
  text-align: center;
  font-family: var(--main-family);
}
.homepage-image {
  margin: 50px;
  margin-bottom: 30px;
width: 460px;
height: 310px;
}
.homepage-jam-title {
  text-decoration: none;
  font-size: var(--main-family);
  font-size: 28px;
  color: var(--text-color);
  padding-left: 45px;
  transition: all 100ms ease-in-out;
}

.homepage-jam-title:hover {
  color: var(--hover-color);
}

.social-link {
  color: var(--text-color);
}
.social-link:hover {
  color: var(--hover-color);
}
.cooker-photo {height: 350px;
  width:500px;
}
.name {font-size: 64px;
line-height: 1;}
.follow-links {font-size: 18px;
font-weight: bold;}
.recipe-image {  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  width: 40%;}
  .recipe-collection-name {font-size: 36px;}
.step
{color:#F65282}