:root {
  --main-family: Nunito;
  --text-color: #272142;
  --hover-color: #7d4df0;
}
body {
  color: var(--text-color);
  font-family: var(--main-family);
}
li {
  list-style: none;
}
ul {
  padding: 0;
}

nav li {
  list-style: none;
  margin-top: 48px;
}
h1 {
  font-size: 72px;
  color: var(--hover-color)
}
h2 {
  font-size: 24px;
}
p {
  font-size: 18px;
}
hr {
  border: none;
  border-top: 3px dotted black;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  font-family: var(--main-family);
}
.nav-link:hover {
  color: var(--hover-color);
}
.active {
  color: var(--hover-color);
}

.hero-text {
  color: var(--hover-color);
  text-align: center;
  font-family: var(--main-family);
}
.homepage-image { width: 85%;}
.homepage-jam-title {
  text-decoration: none;
  font-size: var(--main-family);
  font-size: 28px;
  color: var(--text-color);

  transition: all 100ms ease-in-out;
}

.homepage-jam-title:hover {
  color: var(--hover-color);
}

.social-link {
  color: var(--text-color);
}
.social-link:hover {
  color: var(--hover-color);
}
.cooker-photo {
  width: 85%;
}
.name {
  font-size: 64px;
  

}
.follow-links {
  font-size: 18px;
  font-weight: bold;
}

.recipe-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  width: 40%;
}
.recipe-collection-name {
  font-size: 36px;
}
.step {
  color: #f65282;
}
.contact-info-bullet {
  color: var(--hover-color);
  font-size: 18px;
}
.contact-info {
  font-size: 18px;
}

@media (max-width: 920px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 18px;
  }
  .cooker-photo {display: block; margin-left: auto;
  margin-right: auto;}
  .homepage-jam-title {font-size:18px;
  }
 .secondary-container {
  margin-top: auto!important;
  margin-left: auto!important;
margin-right: auto!important;
padding-left: 0!important;}
.homepage-row {margin-bottom: 0!important;}
.homepage-image {width:100%;}
.name {font-size: 40px;}




}
